extends layout

block content
	div(class="container")
		div(class="row")
			if result==null
				h1 Transaction failed.
				br
			else if result.success
				- var strResult = JSON.stringify(result, null, 3);

				h1 Transaction processed successfully. 
				br
				h2 Braintree::Transaction
				pre #{strResult}
			else
				h1 Transaction failed with error:
				br
				h2 #{result.message}
